body{
	 width:1000px;
	 margin: 10px auto;
	 background-color: #293779;
	 }
	a:visited{color:blue;}
	a:active{color:yellow;}
	a:hover{color:RED;}
	.subform{
	font-size:1.2em;
	color:black;
	font-family:Tahoma,sans-serif;

	}
	.subform .label{
	display:inline-block;
	width:200px;
	vertical-align:top;
	text-align:right;
	margin-right:10px;
	font-weight:bold;

	color:rgba(0,0,0,1);
	}
	.subform input[type="submit"]{
	margin-left:220px;
	padding:10px 25px;
	font-size:1em;
	color:white;
	background:rgba(220,100,15,1);
	border:none;
	border-radius:50px;
	}
	.subform input[type="button"]{
	margin-left:20px;
	padding:10px 25px;
	font-size:1em;
	color:white;
	background:rgba(0,0,0,1);

	}
	.subform select{
	font-size:1.2em;
	}
	.subform input[type="text"], .subform textarea{
	font-size:1.2em;
	color:rgba(0,0,0,1);
	border-radius:5px;
	border:none;
	background-color:white;
	box-shadow:inset 0 0 10px rgba(0,0,0,.75);
	width:500px;
	padding: 5px;
	}
	.subform input[type="text"]:focus, .subform textarea:focus{
	background-color:yellow;
	color:black;
	}
	div{
	font-family:Comic Sans MS, Helvetica, serif;

	width:350px;
	height:150px;
	background-repeat:no-repeat;
	background-position:top center;
	background-size:contain;
	margin:0 auto;
	padding:20px 0 0 70px;
	}
